@model EmployeeManagement.Models.Employee

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>

    <div>
        Name: @Model.Name
    </div>

    <div>
        Email: @Model.Email
    </div>

    <div>
        Department: @Model.Deprtment
    </div>

</body>
</html>