<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewData["PageTitle"]</h3>

    @{
        var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    }

    <div>
        Name: @employee.Name
    </div>

    <div>
        Email: @employee.Email
    </div>

    <div>
        Department: @employee.Deprtment
    </div>

</body>
</html>