<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>


    <div>
        Name: @ViewBag.Employee.Name
    </div>

    <div>
        Email: @ViewBag.Employee.Email
    </div>

    <div>
        Department: @ViewBag.Employee.Deprtment
    </div>

</body>
</html>